USE [master]
GO
/****** Object:  Database [BD_API]    Script Date: 19/07/2022 10:54:09 ******/
CREATE DATABASE [BD_API]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_API', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BD_API.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_API_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BD_API_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_API].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_API]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 19/07/2022 10:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Celular] [bigint] NULL,
 CONSTRAINT [PK_persona] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[persona] ON 

INSERT [dbo].[persona] ([ID], [Nombre], [Celular]) VALUES (1, N'juan', 6565)
INSERT [dbo].[persona] ([ID], [Nombre], [Celular]) VALUES (4, N'juan maria', 511)
INSERT [dbo].[persona] ([ID], [Nombre], [Celular]) VALUES (6, N'juan', 6565)
SET IDENTITY_INSERT [dbo].[persona] OFF
GO
/****** Object:  StoredProcedure [dbo].[PA_EditarPersona]    Script Date: 19/07/2022 10:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_EditarPersona]
(@id bigint, @nom varchar(100), @cel bigint)
AS
BEGIN
	update persona set nombre=@nom, Celular=@cel where id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[PA_EliminarPersona]    Script Date: 19/07/2022 10:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_EliminarPersona]
(@id bigint)
AS
BEGIN
delete from persona where id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[PA_InsertaPersona]    Script Date: 19/07/2022 10:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_InsertaPersona]
(@nom varchar(100), @cel bigint)
AS
BEGIN
	insert into persona (nombre, Celular) values (@nom,@cel)
END
GO
/****** Object:  StoredProcedure [dbo].[PA_SeleccionarTodos]    Script Date: 19/07/2022 10:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SeleccionarTodos]
AS
BEGIN
	SELECT * from persona;
END
GO
/****** Object:  StoredProcedure [dbo].[PA_SelectPersona]    Script Date: 19/07/2022 10:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SelectPersona]
(@id bigint)
AS
BEGIN
select nombre, celular from persona where id=@id
END
GO
USE [master]
GO
